.header-content {
    position: relative;
}

.header-title {
    letter-spacing: 0.8rem;
    margin-top: 2rem;
}

.svg-image {
    position: absolute;
    top: 17rem;
    left: 17rem;
}
@media only screen and (max-width: 992px) {
.header-title {
    text-align: center;
}
    .svg-image {
        position: absolute;
        top: 8rem;
        left: 10rem;
    }

}