
.main-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    background-color: #f5f6fa;
}
.main-container .main-content {
   margin-left: 2rem;
}

.main-container .main-content p {
    font-weight: 400;
    color: grey;
    width: 75%;
}
.main-container .main-content button {
    background-color: #d35400;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 25px;
}

.egg-image,.glass-image,.graphic-design,.photography {
    width: 100%;
}

.gra-content,.pho-content {
    margin-top: -15rem;
}

.gra-pho {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.gra-pho img {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .main-container {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .gra-pho {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .gra-pho img {
        width: 100%;
    }
    .gra-content,.pho-content {
        margin-top: -8rem;
    }
    .main-container .main-content {
        margin: 2rem;
    }
    .gra-pho img {
        height: 100%;
    }
    .gra-content p,.pho-content p{
        /*padding-bottom: 1rem;*/
    }


}



